{% for post in posts_list %}
<div class="card mr-auto">
    <div class="card-body align-self-center posts">
    <div id="Post{{ post.id }}" class="align-self-center outline-black post">
            <h2 class="card-title font-weight-bold"> {{ post.title }} </h2>
            <p class="card-text"> {{ post.description }} </p>
            <p>Published on {{ post.pub_date }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}">
            {% endif %}
            <div class="inline">
                <p> Reacts: <p class="num_reacts"> {{ post.reacts }} </p> </p>
                    <button class="btn btn-dark react_button"> React </button>
            </div>
            <div>
                <ul class="list-group list-group-flush">
                {% for comment in post.comment_set.all %}
                    {% include 'posts/comment.html' %}
                {% endfor %}
                </ul>
            </div>
            <form method="post" class="comment_add_form" name="comment_form" id="addComment{{ post.id }}" action="{% url 'posts:add_comment' %}">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="btn">Add Comment</button>
            </form>
        </div>
        </div>
</div>
<br>
{% endfor %}