{% extends 'base.html' %}

{% block content %}
{% for post in posts_list %}
<div class="card mr-auto">
    <div class="card-body align-self-center">
        <div id="Post{{ post.id }}" class="align-self-center outline-black post">
            <h2 class="card-title font-weight-bold"> {{ post.title }} </h2>
            <p class="card-text"> {{ post.description }} </p>
            <p>Published on {{ post.pub_date }}</p>
            <img src="{{ post.image.url }}">
            <div class="inline">
                <p> Reacts: <p class="num_reacts"> {{ post.reacts }} </p> </p>
                    <button class="btn btn-dark react_button"> React </button>
            </div>
            <div>
                <ul class="list-group list-group-flush">
                {% for comment in post.comment_set.all %}
                    <li id="comment_{{ comment.id }}" class="list-group-item"> <div id="comment_{{ comment.id }}_text"> {{comment.comment_text}} </div>
                        <button class="btn btn-danger delete_comment">Delete</button>
                        <button class="btn btn-primary" id="hideShow" type="button" data-toggle="collapse" data-target="#commentEditForm{{ comment.id }}" aria-expanded="false" aria-controls="commentEdit{{comment.id}}">
                        Edit
                        </button>
                        <div class="collapse" id="commentEditForm{{ comment.id }}">
                            <form method="post" class="comment_edit_form" id="commentEdit{{ comment.id }}" action="{% url 'posts:update_comment' %}">
                                {% csrf_token %}
                                {{ comment_form }}
                                <button type="submit" class="btn btn-success">Update</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <form method="post" class="comment_add_form" name="comment_form" id="addComment{{ post.id }}" action="{% url 'posts:add_comment' %}">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="btn">Add Comment</button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}

{% endblock content %}

